In [1]:
import os
import pandas as pd
from pathlib import Path
import numpy as np


main_path = '/Users/farizrzayev/Desktop/projects/capslock/CapsLock Test task'

In [2]:
internal_db = pd.read_csv(os.path.join(main_path, 'CapsLock_internal_db_Test.csv'),  encoding='utf-16',  sep='\t')
issues = pd.read_excel(os.path.join(main_path, 'CapsLock_Issued_Test.xlsx'))
leads = pd.read_excel(os.path.join(main_path, 'CapsLock_Leads_Test.xlsx'))
appointments = pd.read_excel(os.path.join(main_path, 'CapsLock_Sets_Test.xlsx'))
contact = pd.read_excel(os.path.join(main_path, 'CapsLock_Tasks_Test.xlsx'))

In [ ]:
leads.nunique()

pd.merge(leads, )

Created Time                      943
# Call Center Tasks Completed      31
Lavin Media ID                   1025
Contact ID                        292
Region                             19
dtype: int64

In [39]:
issues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Net Sales            128 non-null    int64
 1   Gross Sales          128 non-null    int64
 2   Cancelled Sales      128 non-null    int64
 3   Date                 128 non-null    datetime64[ns]
 4   Created Date         128 non-null    datetime64[ns]
 5   Created Time         128 non-null    object
 6   Status               128 non-null    object
 7   Contact: Contact ID  128 non-null    object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 8.1+ KB

In [38]:
internal_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1170 entries, 0 to 1169
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Lavin Media Id  1170 non-null   int64
 1   Created time    1170 non-null   object
 2   Source          1170 non-null   object
 3   Landing page    1154 non-null   object
 4   Thank You page  1158 non-null   object
dtypes: int64(1), object(4)
memory usage: 45.8+ KB

In [44]:
result = {
    " -> internal db": internal_db.columns,
    " -> issues ":issues.columns,
    " -> Leads":leads.columns,
    " ->  appointments":appointments.columns,
    " ->  contact ":contact.columns
}
result

print("# of internal db records", len(internal_db))
print("# of issues  records", len(issues))
print("# of leads records", len(leads))
print("# of contacts records", len(contact))
print("# of tasks records", len(appointments))

# Check for null values in each DataFrame

print("\nNull value counts:")
print("Internal DB nulls:\n", internal_db.isnull().sum())
print("\nIssues nulls:\n", issues.isnull().sum())
print("\nLeads nulls:\n", leads.isnull().sum())
print("\nAppointments nulls:\n", appointments.isnull().sum())
print("\nTcontact nulls:\n", contact.isnull().sum())

# of internal db records 1170
# of issues  records 128
# of leads records 1054
# of contacts records 5592
# of tasks records 237

Null value counts:
Internal DB nulls:
 Lavin Media Id     0
Created time       0
Source             0
Landing page      16
Thank You page    12
dtype: int64

Issues nulls:
 Net Sales              0
Gross Sales            0
Cancelled Sales        0
Date                   0
Created Date           0
Created Time           0
Status                 0
Contact: Contact ID    0
dtype: int64

Leads nulls:
 Created Time                      20
# Call Center Tasks Completed    177
Lavin Media ID                    29
Contact ID                       756
Region                             0
dtype: int64

Appointments nulls:
 Date                   0
Created Date           0
Created Time           0
Status                 0
Contact: Contact ID    0
dtype: int64

Tcontact nulls:
 Created Time                      327
Call Result                       375
Lavin Media ID                    153
Converted Contact: Contact ID    5301
dtype: int64

In [37]:
merged_with_leads = pd.merge(issues, leads, left_on='Contact: Contact ID', right_on = "Contact ID",how='inner')
merged_with_leads

,Net Sales,Gross Sales,Cancelled Sales,Date,Created Date,Created Time_x,Status,Contact: Contact ID,Created Time_y,# Call Center Tasks Completed,Lavin Media ID,Contact ID,Region
0,0,0,0,2020-12-23,2020-12-22,23:48:00,No Demo,0031G000018qc86,2020-12-22 18:32:00,NaN,1844.0,0031G000018qc86,Atlanta
1,0,0,0,2020-12-23,2020-12-23,14:27:00,Demo/Maybe,0031G000018qfVm,2020-12-23 09:18:00,1.0,1957.0,0031G000018qfVm,Atlanta
2,0,0,0,2020-12-23,2020-12-22,22:07:00,Demo/Maybe,0031G000018qbXo,2020-12-22 16:55:00,NaN,1742.0,0031G000018qbXo,Atlanta
3,0,0,0,2020-12-24,2020-12-22,20:01:00,Demo/Maybe,0031G000018qYnS,2020-12-22 14:53:00,NaN,1655.0,0031G000018qYnS,Atlanta
4,0,0,0,2020-12-24,2020-12-23,18:56:00,Demo/Maybe,0031G000018qhTT,2020-12-23 13:47:00,NaN,2161.0,0031G000018qhTT,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,0,0,0,2020-12-29,2020-12-29,16:29:00,No Demo,0031G000018rV34,2020-12-29 11:11:00,1.0,4114.0,0031G000018rV34,Triad
128,0,8191,8191,2020-12-23,2020-12-23,19:34:00,Sold,0031G000018qhjv,2020-12-23 14:11:00,3.0,2174.0,0031G000018qhjv,Triangle
129,0,0,0,2020-12-24,2020-12-23,23:41:00,Demo/Maybe,0031G000018qlcF,2020-12-23 18:32:00,1.0,2383.0,0031G000018qlcF,Triangle
130,7391,7391,0,2020-12-29,2020-12-23,20:04:00,Sold,0031G000018qhw3,2020-12-23 14:44:00,1.0,2204.0,0031G000018qhw3,Triangle
131,9981,9981,0,2020-12-29,2020-12-29,18:50:00,Sold,0031G000018rYx5,2020-12-29 13:20:00,2.0,4322.0,0031G000018rYx5,Wilmington

In [27]:
# issues[issues['Contact: Contact ID'].duplicated()]

issues[issues['Contact: Contact ID'] == '0031G000018qEGO']


aggregated = issues.groupby(['Contact: Contact ID', 'Status'])['Net Sales'].sum().reset_index()

# leads.merge(issues, how = "inner", left_on = "ContactId", right_on="Contact: Contact ID")

In [13]:

result = {
    "internal db": internal_db.columns,
    "issues ":issues.columns,
    "Leads":leads.columns,
    "Appointment Attempts": appointments.columns,
    "Contact":contact.columns
}
for k, v in result.items():
    print(k, v)

internal db Index(['Lavin Media Id', 'Created time', 'Source', 'Landing page',
       'Thank You page'],
      dtype='object')
issues  Index(['Net Sales', 'Gross Sales', 'Cancelled Sales', 'Date', 'Created Date',
       'Created Time', 'Status', 'Contact: Contact ID'],
      dtype='object')
Leads Index(['Created Time', '# Call Center Tasks Completed', 'Lavin Media ID',
       'Contact ID', 'Region'],
      dtype='object')
Appointment Attempts Index(['Date', 'Created Date', 'Created Time', 'Status',
       'Contact: Contact ID'],
      dtype='object')
Contact Index(['Created Time', 'Call Result', 'Lavin Media ID',
       'Converted Contact: Contact ID'],
      dtype='object')

In [ ]:
# processing issues
# Lead created time (form submitted) - contact submitted 
print(len(issues))
issues['Status'].value_counts()



# issues['Created Time'] = pd.to_timedelta(issues['Created Time'].astype(str))
# issues['Contact: Contact ID'].value_counts()

# issues[issues['Contact: Contact ID'] == '0031G000018qZLC'] # there is no sales with status code No Demo / Demo Maybe

128

,Net Sales,Gross Sales,Cancelled Sales,Date,Created Date,Created Time,Status,Contact: Contact ID
19,0,0,0,2020-12-23,2020-12-22,20:59:00,No Demo,0031G000018qZLC
20,0,0,0,2020-12-28,2020-12-28,15:47:00,Demo/Maybe,0031G000018qZLC

In [ ]:
# duplicate contact IDs, which only one of them made net sales (Sold) = 0031G000018qEGO, rest is one No Demo & one Demo/Maybe 
# len(issues[issues['Contact: Contact ID'].duplicated()])  # 8 duplicated records
duplicate_contact_id =  [
        '0031G000018qZLC',                  
        '0031G000018qFhb',
        '0031G000016rAiq',
        '0031G000018qEGO',
        '0031G000018pb5k',
        '0031G000016rAiq',
        '0031G000016rJMd',
        '0031G000018qcLe'
 ]

issues[issues['Contact: Contact ID'].isin(duplicate_contact_id) ]


# Has sales ?
issues['is_sales'] = np.where(
                        (issues['Net Sales'] == 0) 
                                & (issues['Gross Sales'] == 0) 
                                & (issues['Cancelled Sales'] == 0)
                                | ((issues['Status'] == "No Demo") | (issues['Status']) == "Demo/Maybe")
                                , 'No Sales','Has Sales')


issues.groupby(['is_sales'])['Net Sales'].sum().reset_index()

    is_sales  Net Sales
0  Has Sales     277456
1   No Sales          0

In [61]:
issues

,Net Sales,Gross Sales,Cancelled Sales,Date,Created Date,Created Time,Status,Contact: Contact ID,is_sales
0,0,0,0,2020-12-23,2020-12-22,23:48:00,No Demo,0031G000018qc86,No Sales
1,0,0,0,2020-12-23,2020-12-23,14:27:00,Demo/Maybe,0031G000018qfVm,No Sales
2,0,0,0,2020-12-23,2020-12-22,22:07:00,Demo/Maybe,0031G000018qbXo,No Sales
3,0,0,0,2020-12-24,2020-12-22,20:01:00,Demo/Maybe,0031G000018qYnS,No Sales
4,0,0,0,2020-12-24,2020-12-23,18:56:00,Demo/Maybe,0031G000018qhTT,No Sales
...,...,...,...,...,...,...,...,...,...
123,0,0,0,2020-12-29,2020-12-29,16:29:00,No Demo,0031G000018rV34,No Sales
124,0,8191,8191,2020-12-23,2020-12-23,19:34:00,Sold,0031G000018qhjv,Has Sales
125,0,0,0,2020-12-24,2020-12-23,23:41:00,Demo/Maybe,0031G000018qlcF,No Sales
126,7391,7391,0,2020-12-29,2020-12-23,20:04:00,Sold,0031G000018qhw3,Has Sales
127,9981,9981,0,2020-12-29,2020-12-29,18:50:00,Sold,0031G000018rYx5,Has Sales

In [90]:
issues_cols = ['Net Sales','Gross Sales','Cancelled Sales','Date','Created Date','Created Time', 'Status','Contact: Contact ID','is_sales']

issues.groupby(['Contact: Contact ID'])['Net Sales'].sum().reset_index().sort_values(by = ['Net Sales'], ascending = False)
# grouped_sales.sort_values(by = ['Net Sales'], ascending = False)

    Contact: Contact ID  Net Sales
88      0031G000018r80h      20491
24      0031G000018pyXd      13257
21      0031G000018pneB      11987
103     0031G000018rNNh      11791
36      0031G000018qEGO      11461
..                  ...        ...
48      0031G000018qUf2          0
47      0031G000018qN38          0
45      0031G000018qGKP          0
44      0031G000018qG88          0
60      0031G000018qcIu          0

[120 rows x 2 columns]

In [112]:
print("# of recors", len(leads))
leads.isnull().sum()

# of recors 1054

Created Time                      20
# Call Center Tasks Completed    177
Lavin Media ID                    29
Contact ID                       756
Region                             0
dtype: int64

# Leads DataSet - Analysis

In [125]:
leads.loc[~leads['Contact ID'].isnull(),:]
# issues
# leads['Contact ID'].nunique()

,Created Time,# Call Center Tasks Completed,Lavin Media ID,Contact ID,Region
5,2020-12-22 16:55:00,NaN,1742.0,0031G000018qbXo,Atlanta
11,NaT,NaN,1925.0,0031G000014jDDN,Atlanta
16,2020-12-23 14:27:00,NaN,2201.0,0031G000018qglw,Atlanta
19,2020-12-23 16:39:00,1.0,2306.0,0031G000018qj6w,Atlanta
20,2020-12-23 16:56:00,1.0,2310.0,0031G000018qnH4,Atlanta
...,...,...,...,...,...
1025,2020-12-28 13:04:00,NaN,3319.0,0031G000018rOdv,Virginia Beach
1027,2020-12-30 09:57:00,NaN,4984.0,0031G000018rm5v,Virginia Beach
1031,2020-12-23 09:55:00,1.0,1981.0,0031G000016qxvw,Wilmington
1051,2020-12-29 13:20:00,2.0,4322.0,0031G000018rYx5,Wilmington
1053,2020-12-30 09:27:00,0.0,4948.0,0031G000018rlva,Wilmington

Created Time                      20
# Call Center Tasks Completed    177
Lavin Media ID                    29
Contact ID                       756
Region                             0
dtype: int64

In [149]:
# nulls
print(leads.isnull().sum())

leads[leads['# Call Center Tasks Completed'].isnull()]

# fill nuls with zerio assuming that there has been any completed task
leads['# Call Center Tasks Completed'] = leads['# Call Center Tasks Completed'].fillna(0)

leads[leads['Created Time'].isnull()]

leads[leads['Contact ID'].isnull()]

Created Time                      20
# Call Center Tasks Completed      0
Lavin Media ID                    29
Contact ID                       756
Region                             0
dtype: int64

,Created Time,# Call Center Tasks Completed,Lavin Media ID,Contact ID,Region
0,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta
1,2020-12-22 12:19:00,1.0,1559.0,NaN,Atlanta
2,2020-12-22 12:25:00,6.0,1563.0,NaN,Atlanta
3,2020-12-22 13:21:00,11.0,1607.0,NaN,Atlanta
4,2020-12-22 14:56:00,11.0,1650.0,NaN,Atlanta
...,...,...,...,...,...
1047,2020-12-29 19:55:00,2.0,4855.0,NaN,Wilmington
1048,2020-12-29 19:26:00,1.0,4819.0,NaN,Wilmington
1049,2020-12-30 10:10:00,0.0,5042.0,NaN,Wilmington
1050,2020-12-23 18:58:00,8.0,2394.0,NaN,Wilmington
1052,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington

In [159]:
print("# of records", len(internal_db))
print(internal_db.isnull().sum())
internal_db[internal_db['Landing page'].isnull()]

internal_db[internal_db['Lavin Media Id'].duplicated()]

# of records 1170
Lavin Media Id     0
Created time       0
Source             0
Landing page      16
Thank You page    12
dtype: int64

Empty DataFrame
Columns: [Lavin Media Id, Created time, Source, Landing page, Thank You page]
Index: []

In [163]:
import pandas as pd

# Your actual dataframes
table_a = leads.copy()
table_b = internal_db.copy()
table_c = issues.copy()
table_d = appointments.copy()
table_e = contact.copy()

# Use meaningful keys
tables = {
    'leads': table_a,
    'internal_db': table_b,
    'issues': table_c,
    'appointments': table_d,
    'contact': table_e
}

# Function to detect relationships
def find_relationships(tables):
    relationships = []

    for t1_name, t1 in tables.items():
        for t2_name, t2 in tables.items():
            if t1_name == t2_name:
                continue

            for col1 in t1.columns:
                if t1[col1].isnull().all() or t1[col1].dtype not in ['int64', 'object']:
                    continue

                for col2 in t2.columns:
                    if t2[col2].isnull().all() or t2[col2].dtype not in ['int64', 'object']:
                        continue

                    try:
                        match_ratio = t1[col1].isin(t2[col2]).mean()
                    except:
                        continue

                    if match_ratio > 0.95:
                        rel = {
                            'from_table': t1_name,
                            'from_column': col1,
                            'to_table': t2_name,
                            'to_column': col2,
                            'match_ratio': round(match_ratio, 2),
                            'cardinality': get_cardinality(t1, col1, t2, col2)
                        }
                        relationships.append(rel)
    return relationships

# Function to determine cardinality
def get_cardinality(df1, col1, df2, col2):
    u1 = df1[col1].nunique()
    u2 = df2[col2].nunique()

    if u1 == u2 and df1.shape[0] == df2.shape[0]:
        return "1:1"
    elif u1 < u2:
        return "many:1"
    elif u1 > u2:
        return "1:many"
    else:
        return "many:many"

# Run and print results
if __name__ == "__main__":
    results = find_relationships(tables)
    for r in results:
        print(f"{r['from_table']}({r['from_column']}) → {r['to_table']}({r['to_column']}) "
              f"| Match Ratio: {r['match_ratio']} | Cardinality: {r['cardinality']}")

leads(Contact ID) → contact(Converted Contact: Contact ID) | Match Ratio: 1.0 | Cardinality: 1:many
issues(Contact: Contact ID) → leads(Contact ID) | Match Ratio: 1.0 | Cardinality: many:1
issues(Created Time) → appointments(Created Time) | Match Ratio: 1.0 | Cardinality: many:1
issues(Status) → appointments(Status) | Match Ratio: 1.0 | Cardinality: many:1
issues(Contact: Contact ID) → appointments(Contact: Contact ID) | Match Ratio: 1.0 | Cardinality: many:1
issues(Contact: Contact ID) → contact(Converted Contact: Contact ID) | Match Ratio: 0.98 | Cardinality: many:1
appointments(Contact: Contact ID) → leads(Contact ID) | Match Ratio: 1.0 | Cardinality: many:1
appointments(Contact: Contact ID) → contact(Converted Contact: Contact ID) | Match Ratio: 0.99 | Cardinality: many:1
contact(Converted Contact: Contact ID) → leads(Contact ID) | Match Ratio: 1.0 | Cardinality: many:1

In [48]:
leads_merged = leads.merge(contact,how='left',left_on='Contact ID',right_on='Converted Contact: Contact ID',suffixes=('', '_contact'))
# leads_merged

issues

,Net Sales,Gross Sales,Cancelled Sales,Date,Created Date,Created Time,Status,Contact: Contact ID
0,0,0,0,2020-12-23,2020-12-22,23:48:00,No Demo,0031G000018qc86
1,0,0,0,2020-12-23,2020-12-23,14:27:00,Demo/Maybe,0031G000018qfVm
2,0,0,0,2020-12-23,2020-12-22,22:07:00,Demo/Maybe,0031G000018qbXo
3,0,0,0,2020-12-24,2020-12-22,20:01:00,Demo/Maybe,0031G000018qYnS
4,0,0,0,2020-12-24,2020-12-23,18:56:00,Demo/Maybe,0031G000018qhTT
...,...,...,...,...,...,...,...,...
123,0,0,0,2020-12-29,2020-12-29,16:29:00,No Demo,0031G000018rV34
124,0,8191,8191,2020-12-23,2020-12-23,19:34:00,Sold,0031G000018qhjv
125,0,0,0,2020-12-24,2020-12-23,23:41:00,Demo/Maybe,0031G000018qlcF
126,7391,7391,0,2020-12-29,2020-12-23,20:04:00,Sold,0031G000018qhw3
127,9981,9981,0,2020-12-29,2020-12-29,18:50:00,Sold,0031G000018rYx5

In [47]:
leads_merged2

,Created Time,# Call Center Tasks Completed,Lavin Media ID,Contact ID,Region,Created Time_contact,Call Result,Converted Contact: Contact ID
0,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta,2020-12-22 18:30:00,Not Answered,NaN
1,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta,2020-12-22 15:11:00,No Answer,NaN
2,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta,2020-12-22 12:09:00,No Answer,NaN
3,2020-12-22 12:19:00,1.0,1559.0,NaN,Atlanta,2020-12-22 12:22:00,Out of Scope,NaN
4,2020-12-22 12:25:00,6.0,1563.0,NaN,Atlanta,2020-12-22 17:43:00,No Answer,NaN
...,...,...,...,...,...,...,...,...
9874,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2020-12-29 18:54:00,Not Answered,NaN
9875,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2020-12-29 15:51:00,PU_HU,NaN
9876,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2020-12-29 14:49:00,Not Answered,NaN
9877,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2019-11-30 06:01:00,NaN,NaN
9878,2020-12-30 09:27:00,0.0,4948.0,0031G000018rlva,Wilmington,NaT,NaN,0031G000018rlva

In [ ]:
leads_merged2 = leads.merge(contact,how='left',left_on='Lavin Media ID',right_on='Lavin Media ID',suffixes=('', '_contact'))
leads_merged2.merge(issues,left_on = "", right_on = "Contact: Contact ID")

,Created Time,# Call Center Tasks Completed,Lavin Media ID,Contact ID,Region,Created Time_contact,Call Result,Converted Contact: Contact ID
0,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta,2020-12-22 18:30:00,Not Answered,NaN
1,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta,2020-12-22 15:11:00,No Answer,NaN
2,2020-12-22 12:07:00,3.0,1550.0,NaN,Atlanta,2020-12-22 12:09:00,No Answer,NaN
3,2020-12-22 12:19:00,1.0,1559.0,NaN,Atlanta,2020-12-22 12:22:00,Out of Scope,NaN
4,2020-12-22 12:25:00,6.0,1563.0,NaN,Atlanta,2020-12-22 17:43:00,No Answer,NaN
...,...,...,...,...,...,...,...,...
9874,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2020-12-29 18:54:00,Not Answered,NaN
9875,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2020-12-29 15:51:00,PU_HU,NaN
9876,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2020-12-29 14:49:00,Not Answered,NaN
9877,2019-11-30 06:01:00,13.0,4440.0,NaN,Wilmington,2019-11-30 06:01:00,NaN,NaN
9878,2020-12-30 09:27:00,0.0,4948.0,0031G000018rlva,Wilmington,NaT,NaN,0031G000018rlva

In [253]:
result = {
    " -> internal db": internal_db.columns,
    " -> issues ":issues.columns,
    " -> Leads":leads.columns,
    " ->  appointments":appointments.columns,
    " ->  contact ":contact.columns
}
result

print("# of internal db records", len(internal_db))
print("# of issues  records", len(issues))
print("# of leads records", len(leads))
print("# of contacts records", len(contact))
print("# of tasks records", len(appointments))

# Check for null values in each DataFrame

print("\nNull value counts:")
print("Internal DB nulls:\n", internal_db.isnull().sum())
print("\nIssues nulls:\n", issues.isnull().sum())
print("\nLeads nulls:\n", leads.isnull().sum())
print("\nAppointments nulls:\n", appointments.isnull().sum())
print("\nContact nulls:\n", contact.isnull().sum())

# of internal db records 1170
# of issues  records 128
# of leads records 1054
# of contacts records 5592
# of tasks records 237

Null value counts:
Internal DB nulls:
 Lavin Media Id     0
Created time       0
Source             0
Landing page      16
Thank You page    12
dtype: int64

Issues nulls:
 Net Sales              0
Gross Sales            0
Cancelled Sales        0
Date                   0
Created Date           0
Created Time           0
Status                 0
Contact: Contact ID    0
is_sales               0
dtype: int64

Leads nulls:
 Created Time                      20
# Call Center Tasks Completed      0
Lavin Media ID                    29
Contact ID                       756
Region                             0
dtype: int64

Appointments nulls:
 Date                   0
Created Date           0
Created Time           0
Status                 0
Contact: Contact ID    0
dtype: int64

Contact nulls:
 Created Time                      327
Call Result                       375
Lavin Media ID                    153
Converted Contact: Contact ID    5301
dtype: int64

In [ ]:

issue_contact = pd.merge(issues, contact, how = "left", left_on = "Contact: Contact ID", right_on = "Converted Contact: Contact ID")
internal_db_leads = pd.merge(internal_db, leads, how = "right", left_on = "Lavin Media Id", right_on = "Lavin Media ID")

# issue_contact[issue_contact['Converted Contact: Contact ID'].isnull()]

In [251]:
master_df = internal_db_leads.merge(issue_contact, how = "right", on = "Lavin Media ID")
master_df.Status.value_counts()

Status
Demo/Maybe    148
Sold           66
No Demo        55
Name: count, dtype: int64

In [256]:
appointments

          Date Created Date Created Time   Status Contact: Contact ID
0   2020-12-31   2020-12-22     21:08:00  Staffed     0031G000018qZFj
1   2020-12-30   2020-12-28     15:03:00  Staffed     0031G000018rMh2
2   2020-12-23   2020-12-22     23:48:00  No Demo     0031G000018qc86
3   2020-12-31   2020-12-29     14:40:00  Staffed     0031G000018rU13
4   2020-12-29   2020-12-23     21:52:00  No Demo     0031G000018qj6w
..         ...          ...          ...      ...                 ...
232 2020-12-30   2020-12-28     13:42:00  Staffed     0031G000018rMB1
233 2020-12-30   2020-12-30     13:46:00  Staffed     0031G000018rlar
234 2021-01-07   2020-12-30     15:11:00      Set     0031G000018rm5v
235 2020-12-29   2020-12-29     18:50:00     Sold     0031G000018rYx5
236 2020-12-30   2020-12-30     14:44:00  Staffed     0031G000018rlva

[237 rows x 5 columns]

In [ ]:
pd.merge(issues, appointments, how = "inner", left_on = "Converted Contact: Contact ID", right_on = "Contact: Contact ID")

,Net Sales,Gross Sales,Cancelled Sales,Date_x,Created Date_x,Created Time_x,Status_x,Contact: Contact ID_x,is_sales,Created Time_y,Call Result,Lavin Media ID,Converted Contact: Contact ID,Date_y,Created Date_y,Created Time,Status_y,Contact: Contact ID_y
0,0,0,0,2020-12-23,2020-12-22,23:48:00,No Demo,0031G000018qc86,No Sales,NaT,NaN,1844.0,0031G000018qc86,2020-12-23,2020-12-22,23:48:00,No Demo,0031G000018qc86
1,0,0,0,2020-12-23,2020-12-23,14:27:00,Demo/Maybe,0031G000018qfVm,No Sales,NaT,NaN,1957.0,0031G000018qfVm,2020-12-23,2020-12-23,14:27:00,Demo/Maybe,0031G000018qfVm
2,0,0,0,2020-12-23,2020-12-22,22:07:00,Demo/Maybe,0031G000018qbXo,No Sales,NaT,NaN,1742.0,0031G000018qbXo,2020-12-23,2020-12-22,22:07:00,Demo/Maybe,0031G000018qbXo
3,0,0,0,2020-12-24,2020-12-22,20:01:00,Demo/Maybe,0031G000018qYnS,No Sales,NaT,NaN,1655.0,0031G000018qYnS,2020-12-24,2020-12-22,20:01:00,Demo/Maybe,0031G000018qYnS
4,0,0,0,2020-12-24,2020-12-23,18:56:00,Demo/Maybe,0031G000018qhTT,No Sales,NaT,NaN,2161.0,0031G000018qhTT,2020-12-24,2020-12-23,18:56:00,Demo/Maybe,0031G000018qhTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,0,0,0,2020-12-29,2020-12-29,16:29:00,No Demo,0031G000018rV34,No Sales,NaT,NaN,4114.0,0031G000018rV34,2021-01-06,2020-12-29,20:50:00,Set,0031G000018rV34
147,0,8191,8191,2020-12-23,2020-12-23,19:34:00,Sold,0031G000018qhjv,Has Sales,NaT,NaN,2174.0,0031G000018qhjv,2020-12-23,2020-12-23,19:34:00,Sold,0031G000018qhjv
148,0,0,0,2020-12-24,2020-12-23,23:41:00,Demo/Maybe,0031G000018qlcF,No Sales,NaT,NaN,2383.0,0031G000018qlcF,2020-12-24,2020-12-23,23:41:00,Demo/Maybe,0031G000018qlcF
149,7391,7391,0,2020-12-29,2020-12-23,20:04:00,Sold,0031G000018qhw3,Has Sales,NaT,NaN,2204.0,0031G000018qhw3,2020-12-29,2020-12-23,20:04:00,Sold,0031G000018qhw3
150,9981,9981,0,2020-12-29,2020-12-29,18:50:00,Sold,0031G000018rYx5,Has Sales,NaT,NaN,4322.0,0031G000018rYx5,2020-12-29,2020-12-29,18:50:00,Sold,0031G000018rYx5

In [264]:
appointments

          Date Created Date Created Time   Status Contact: Contact ID
0   2020-12-31   2020-12-22     21:08:00  Staffed     0031G000018qZFj
1   2020-12-30   2020-12-28     15:03:00  Staffed     0031G000018rMh2
2   2020-12-23   2020-12-22     23:48:00  No Demo     0031G000018qc86
3   2020-12-31   2020-12-29     14:40:00  Staffed     0031G000018rU13
4   2020-12-29   2020-12-23     21:52:00  No Demo     0031G000018qj6w
..         ...          ...          ...      ...                 ...
232 2020-12-30   2020-12-28     13:42:00  Staffed     0031G000018rMB1
233 2020-12-30   2020-12-30     13:46:00  Staffed     0031G000018rlar
234 2021-01-07   2020-12-30     15:11:00      Set     0031G000018rm5v
235 2020-12-29   2020-12-29     18:50:00     Sold     0031G000018rYx5
236 2020-12-30   2020-12-30     14:44:00  Staffed     0031G000018rlva

[237 rows x 5 columns]

In [268]:
appointments

          Date Created Date Created Time   Status Contact: Contact ID
0   2020-12-31   2020-12-22     21:08:00  Staffed     0031G000018qZFj
1   2020-12-30   2020-12-28     15:03:00  Staffed     0031G000018rMh2
2   2020-12-23   2020-12-22     23:48:00  No Demo     0031G000018qc86
3   2020-12-31   2020-12-29     14:40:00  Staffed     0031G000018rU13
4   2020-12-29   2020-12-23     21:52:00  No Demo     0031G000018qj6w
..         ...          ...          ...      ...                 ...
232 2020-12-30   2020-12-28     13:42:00  Staffed     0031G000018rMB1
233 2020-12-30   2020-12-30     13:46:00  Staffed     0031G000018rlar
234 2021-01-07   2020-12-30     15:11:00      Set     0031G000018rm5v
235 2020-12-29   2020-12-29     18:50:00     Sold     0031G000018rYx5
236 2020-12-30   2020-12-30     14:44:00  Staffed     0031G000018rlva

[237 rows x 5 columns]

In [ ]:
issued_sets_df = pd.merge(issues, appointments,   how='outer', left_on = "Contact: Contact ID"  , right_on = "Contact: Contact ID", suffixes=('_issues', '_set'))

# Step 3: Merge with leads on Contact ID
# merged_with_leads = pd.merge(issued_sets_df, leads, on='Contact ID', how='outer')

# # Step 4: Merge with tasks on Contact ID (converted contact ID)
# final_merged_df = pd.merge(merged_with_leads, contact, on='Contact ID', how='outer', suffixes=('', '_task'))
# issued_sets_df

,Net Sales,Gross Sales,Cancelled Sales,Date_issues,Created Date_issues,Created Time_issues,Status_issues,Contact: Contact ID,is_sales,Date_set,Created Date_set,Created Time_set,Status_set
0,9671.0,9671.0,0.0,2020-12-11,2020-12-08,22:08:00,Sold,0031G000016qulc,Has Sales,2020-12-11,2020-12-08,22:08:00,Sold
1,NaN,NaN,NaN,NaT,NaT,NaN,NaN,0031G000016r3UM,NaN,2020-12-30,2020-12-10,13:55:00,Staffed
2,0.0,0.0,0.0,2020-12-11,2020-12-10,15:49:00,Demo/Maybe,0031G000016r78Z,No Sales,2020-12-11,2020-12-10,15:49:00,Demo/Maybe
3,9437.0,9437.0,0.0,2020-12-10,2020-12-10,17:32:00,Sold,0031G000016r8C4,Has Sales,2020-12-10,2020-12-10,17:32:00,Sold
4,0.0,0.0,0.0,2020-12-11,2020-12-10,18:53:00,Demo/Maybe,0031G000016r9NX,No Sales,2020-12-11,2020-12-10,18:53:00,Demo/Maybe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,NaN,NaN,NaN,NaT,NaT,NaN,NaN,0031G000018rm5v,NaN,2021-01-07,2020-12-30,15:11:00,Set
251,NaN,NaN,NaN,NaT,NaT,NaN,NaN,0031G000018rm7m,NaN,2020-12-31,2020-12-30,15:11:00,Auto-Confirmed
252,NaN,NaN,NaN,NaT,NaT,NaN,NaN,0031G000018rm9N,NaN,2021-01-06,2020-12-30,15:19:00,Set
253,NaN,NaN,NaN,NaT,NaT,NaN,NaN,0031G000018rmB9,NaN,2021-01-04,2020-12-30,15:17:00,Set
254,NaN,NaN,NaN,NaT,NaT,NaN,NaN,0031G000018rmOh,NaN,2021-01-04,2020-12-30,15:44:00,Set